@model StuffSite2.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@Html.Partial("_MaterialsPartishal", (StuffSite2.Models.Product)ViewBag.tempProd);


   




